/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!/var/sessions/.gitkeep
/var/sessions/*
!var/logs/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/env.php
/.idea/
/env
/env.prod
/node_modules/
/web/build/
