DB_HOST=database
DB_PORT=5432
POSTGRES_DB=veilleur
POSTGRES_USER=veilleur
POSTGRES_PASSWORD=veilleur

CORS_ALLOW_ORIGIN='http://localhost'

API_NAME='Veilleur API'
API_DESCRIPTION='API to interact with veilleur'

SECRET=Secret_TO_RANDOMize_WHEN_using

SLACK_WEB_API_TOKEN=
SLACK_WEB_CHANNEL=

SYMFONY_ENV=prod

PRIVATE_KEY_PATH=
PUBLIC_KEY_PATH=
PASSPHRASE_KEY=
TOKEN_TTL=3600

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
