DB_HOST=database
DB_PORT=5432
POSTGRES_DB=veilleur
POSTGRES_USER=veilleur
POSTGRES_PASSWORD=veilleur

CORS_ALLOW_ORIGIN='http://localhost'

API_NAME='Veilleur API'
API_DESCRIPTION='API to interact with veilleur'

SECRET=Secret_TO_RANDOMize_WHEN_using

SLACK_WEB_API_TOKEN=
SLACK_WEB_CHANNEL=

SYMFONY_ENV=prod
