POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DB=veilleur
POSTGRES_USER=veilleur
POSTGRES_PASSWORD=veilleur

CORS_ALLOW_ORIGIN='http://localhost'

API_NAME='Veilleur API'
API_DESCRIPTION='API to interact with veilleur'

APP_SECRET=Secret_TO_RANDOMize_WHEN_using

SLACK_WEB_API_TOKEN=
SLACK_WEB_CHANNEL=

SYMFONY_ENV=prod

PRIVATE_KEY_PATH=
PUBLIC_KEY_PATH=
PASSPHRASE_KEY=
TOKEN_TTL=3600

ADMIN_DOMAINS={"0": "un-zero-un.fr", "1": "1z1.fr"}

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
