[class^="Icon-"], [class*=" Icon-"] {
  font-family: 'hacknf';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Icon-Clear:before {
  content: '\f00d';
}

.Icon-First:before {
  content: "\f049";
}

.Icon-Prev:before {
  content: "\f04a";
}

.Icon-Next:before {
  content: "\f04e";
}

.Icon-Last:before {
  content: "\f050";
}

.Icon-ASC:before {
  content: '\f162';
}

.Icon-DESC:before {
  content: '\f163';
}

.Icon-Add:before {
  content: '\f457';
}

.Icon-Login:before {
    content: '\fafb';
}

.Icon-Logout:before {
    content: '\fafc';
}

.Icon-Link:before {
  content: '\f0c1';
}

.Icon-Arrowequals:before {
  content: '\f177';
}
